<div id="<%= dom_id error %>">
  <h1>
    <%= error.error %>
  </h1>

  <h3>
    <%= error.user.email %>
  </h3>

  <p>
    <strong>Occurs:</strong>
    <%= error.occurs.count %>
  </p>

  <h4>
    <%= error.content %>
  </h4>

  

   
</div>
